table {
    width: 100%;
    border-collapse: collapse;
    font-family: Roboto, sans-serif;
    font-size: 13px;
}

thead {
    color: rgba(0, 0, 0, 0.54);
    border-bottom: 3px solid #e3e3e3;
}

th {
    text-align: left;
}

tr {
    border-bottom: 1px solid #dbdbdb;
    line-height: 30px;
}

tbody > tr:hover {
    background-color: #eeeeee;
}

td > img {
    display: block; 
    max-width: 35px;
    height: auto;
    border-radius: 6px;
} 