<template>
     <style> @import "./component/gzn-table.css"; </style> 
    <table>
        <thead>
            <th>Ranking</th>
            <th>Previous</th>
            <th>Name</th>
            <th>Points</th>
            <th>Country</th>
        </thead>
        <tbody>           
        </tbody>
    </table>
</template>
<template id="gznrow"> 
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</template>
<script src="gzn-table.js"></script>